/* Estilos padrão (mobile first) */
.about_avatar_text_mobile {
    padding: 0 6px;
}

.avatar {
    border-radius: 50%
}

.contact-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 8px 0;
}

.contact-list>a {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    background: linear-gradient(to bottom, rgb(115 247 247 / 56%), rgb(216 219 250));
    border-radius: 4px;
}

.skill-badges {
    display: flex;
    gap: 6px;
    width: 100%;
    justify-content: space-evenly;
}

.skill-badge {
    border: none;
    border-radius: 6px;
    min-width: 80px;
    width: 80px;
    height: 50px;
    min-height: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(216 219 250), rgb(115 247 247 / 56%));
    justify-content: center;
}

.about-right>p {
    font-size: 12px !important;
    margin: 0 0 0px 0 !important;
    color: #000000 !important;
    text-align: justify !important;
}

.card-actions {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* Pequeno (>= 480px) */
@media (min-width: 480px) {
    .container {
        padding: 1.5rem;
    }
}

/* Médio (>= 768px) */
@media (min-width: 768px) {
    .container {
        font-size: 16px;
        padding: 2rem;
    }
}

/* Grande (>= 1024px) */
@media (min-width: 1024px) {
    .container {
        font-size: 18px;
        padding: 3rem;
    }
}

/* Extra grande (>= 1280px) */
@media (min-width: 1280px) {
    .container {
        font-size: 20px;
    }
}

/* 2x Extra grande (>= 1536px) */
@media (min-width: 1536px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
}

@media (max-height: 720px) {}